recovery_only(`
    allow recovery device:dir rw_dir_perms;
    allow recovery adb_data_file:dir { getattr open read };
    allow recovery adb_data_file:file getattr;
    allow recovery adbtcp_prop:file { getattr open };
    allow recovery alarm_device:chr_file write;
    allow recovery bluetooth_data_file:dir { getattr open read };
    allow recovery bluetooth_data_file:file getattr;
    allow recovery bluetooth_logs_data_file:dir { getattr open read };
    allow recovery bootchart_data_file:dir { getattr open read };
    allow recovery cache_backup_file:dir { getattr open read };
    allow recovery cache_backup_file:file getattr;
    allow recovery cache_private_backup_file:dir { getattr read };
    allow recovery cache_private_backup_file:file getattr;
    allow recovery device_logging_prop:file { getattr open };
    allow recovery gatekeeper_data_file:dir { getattr open read };
    allow recovery gatekeeper_data_file:file getattr;
    allow recovery icon_file:file getattr;
    allow recovery install_data_file:file getattr;
    allow recovery keychain_data_file:dir { getattr open read };
    allow recovery keychain_data_file:file getattr;
    allow recovery logpersistd_logging_prop:file { getattr open };
    allow recovery mmc_prop:file { getattr open };
    allow recovery mtp_device:chr_file { ioctl open read write };
    allow recovery net_data_file:dir { getattr open read };
    allow recovery recovery_data_file:dir { getattr open read };
    allow recovery recovery_data_file:file getattr;
    allow recovery ringtone_file:dir { getattr open read };
    allow recovery ringtone_file:file getattr;
    allow recovery rootfs:dir { add_name create write };
    allow recovery rootfs:fifo_file { create open read unlink link };
    allow recovery rootfs:lnk_file { create unlink link };
    allow recovery rtc_device:chr_file { ioctl open read };
    allow recovery safemode_prop:file { getattr open };
    allow recovery self:netlink_kobject_uevent_socket read;
    allow recovery self:socket { create ioctl };
    allow recovery selinuxfs:file write;
    allow recovery shortcut_manager_icons:dir { getattr open read };
    allow recovery shortcut_manager_icons:file getattr;
    allow recovery system_data_file:dir { open read };
    allow recovery system_data_file:file open;
    allow recovery theme_prop:file { getattr open };
    allow recovery tmpfs:fifo_file { create open read };
    allow recovery userinit_prop:file { getattr open };
    allow recovery wallpaper_file:file getattr;
    allow recovery rootfs:dir { remove_name add_name rmdir };
')
